{% extends "base.html" %}

{% block content %}

{% for entry in entries %}
 <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-10 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="flex flex-wrap md:flex-nowrap">

          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">{{ entry.modex }}</span>
            <span class="mt-1 text-gray-500 text-sm">{{ entry.passdown.date }} {{entry.passdown.time}}</span>
            <span class="mt-1 text-gray-500 text-sm">{{ entry.passdown.shift }}</span>
          </div>

          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{ entry.discrepancy }}</h2>
            <p class="leading-relaxed">{{ entry.text_body }}</p>
            <p class="leading-relaxed">Entered by: {{ entry.passdown.entered_by }}</p>
            <a class="text-indigo-500 inline-flex items-center mt-4">
            </a>
          </div>

        </div>
        </div>
      </div>
  </section>
{% endfor %}

{% endblock content %}