<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
    </style>
</head>

<body>
    <h1>This is all of our leads</h1>
    <h2>Select a lead to see details or edit.</h2>
    {% for lead in leads %}
        <div>
            <a href="/leads/{{ lead.pk }}/">{{ lead.first_name }} {{ lead.last_name }}</a>. Age: {{ lead.age }}
        </div>
    {% endfor %}
    <hr>
    <a href="{% url 'leads:lead-create' %}">Create New Lead</a>
</body>
</html>
